@model AlbumChampions.Models.Busqueda

@{
    ViewBag.Title = "BusquedaColec";
}

<h2>Consultar Si Posee Estampa</h2>

@using (Html.BeginForm("BusquedaColec", "Album", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Identificador)
    @Html.ValidationMessageFor(model => model.Identificador)
    <input type="submit" value="Buscar" class="btn btn-default" />
}

<div>
    @Html.ActionLink("Regresar", "Menu")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}