@using AlbumChampions.Models

@model Busqueda
@{

    ViewBag.Title = "BusquedaTipo";
}

<h2>Mostrar Lista de Estampas Faltantes</h2>

@using (Html.BeginForm("BusquedaTipo", "Album", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Identificador)
    @Html.ValidationMessageFor(model => model.Identificador)
    <input type="submit" value="Buscar" class="btn btn-default" />
}
<div>
    @Html.ActionLink("Regresar", "Menu")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}