
@{
    ViewBag.Title = "IndexAlbum";
}

<h2>Importar Estado Actual del Album </h2>
<body>
    @using (Html.BeginForm("IndexAlbum", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="PostChampions" />
        <input type="submit" value="Importar" class="btn btn-default"/>
    }
</body>
