
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<div>
    <h4> @Html.ActionLink("Listado Estampas por Obtener de un Equipo", "BusquedaTipo")</h4>
</div>
<div>
    <h4>@Html.ActionLink("Consultar Si Posee Estampa", "BusquedaColec")</h4>
</div>
<div>
    <h4>@Html.ActionLink("Agregar Estampa Nueva a Coleccion", "AgregarEstampa")</h4>
</div>