
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<div>
    <h6> @Html.ActionLink("Lista de Estampas Faltantes", "BusquedaTipo")</h6>
</div>
<div>
    <h6>@Html.ActionLink("Consultar Si Posee Estampas", "BusquedaColec")</h6>
</div>
<div>
    <h6>@Html.ActionLink("Agregar Estampa Nueva", "AgregarEstampa")</h6>
</div>