@model IEnumerable<AlbumChampions.Models.AlbumMostrar>

@{
    ViewBag.Title = "TablaEstadoAlbum";
}

<h2>Tabla de Estado de Album</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoEstampa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltantes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEstampa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltantes)
        </td>        
    </tr>
}

</table>
